.banner {
   background: url(../img/banner/banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
}

.banner__wrapper {
   padding: 282px 0 183px;
   display: flex;
   justify-content: space-between;
}

.banner__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 670px;
   width: 100%;
}

.content__logo img {
   max-width: 179px;
   width: 100%;
   margin-bottom: 51px;
}

.banner__title h1 {
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   text-transform: uppercase;
   color: var(--white-color);
   margin-bottom: 55px;
   margin-right: 20px;
}

.divider {
   width: 170px;
   display: block;
   border: 1px solid var(--white-color);
}

.banner__description h5 {
   padding: 42px 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: var(--white-color);
   max-width: 270px;
   width: 100%;
}

.download-btn .banner__btn {
   max-width: 270px;
   width: 100%;
   height: 58px;
}

.form {
   background: #FFFFFF;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   max-width: 470px;
   width: 100%;
   height: 100%;
}

.form__title {
   padding: 28px 50px 73px;
}

.form__title h4 {
   font-family: var(--Open-Sans);
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   text-transform: uppercase;
   text-align: center;
   color: #333333;
}

.form__title h4 span {
   color: var(--accent-color);
}

.form .form__wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   width: 100%;
   padding: 0 47px;
}

.form input {
   border: none;
   border-bottom: 1px solid #BDBDBD;
   font-family: var(--Open-Sans);
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
   margin-bottom: 33px;
   padding-bottom: 16px;
}

.form input::placeholder {
   font-family: var(--Open-Sans);
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
}

.form button {
   background: var(--accent-color);
   border-radius: 0px 0px 10px 10px;
   border: none;
   width: 100%;
   height: 60px;
   font-family: var(--Open-Sans);
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: var(--white-color);
   cursor: pointer;
   transition: all .3s ease-in;
   margin-top: 45px;
}

.form button:hover {
   background: var(--active-color);
}

.form button:active {
   background: var(--accent-color);
   box-shadow: inset 0px 0px 10px #AB4949;
} 

@media screen and (max-width: 1024px) {
   .banner__wrapper {
      padding: 211px 20px 106px 115px;
      display: flex;
      justify-content: space-between;
   }

   .banner__content {
      justify-content: flex-start;
   }

   .content__logo img {
      max-width: 114.5px;
      max-height: 42px;
      margin-top: 17px;
      margin-bottom: 53px;
   }

   .banner__title h1 {
      font-size: 36px;
      line-height: 42px;
      max-width: 455px;
      margin-bottom: 40px;
   }

   .divider {
      width: 115px;
   }

   .banner__description h5 {
      padding: 31px 0;
      font-size: 14px;
      line-height: 16px;
      max-width: 183px;
   }

   .download-btn .banner__btn {
      max-width: 183px;
      height: 50px;
   }

   .form {
      max-width: 398px;
   }

   .form__title {
      padding: 34px 50px 76px;
   }

   .form__title h4 {
      font-size: 18px;
      line-height: 25px;
   }
}

@media screen and (max-width: 992px) {
   .banner__wrapper {
      padding: 211px 20px 106px 40px;
   }
}

@media screen and (max-width: 768px) {
   .banner__wrapper {
      display: flex;
      flex-direction: column;
      padding: 180px 20px 70px 40px;
   }

   .banner__content {
      margin-bottom: 40px;
   }

   .content__logo {
      display: none;
   }

   .banner__title h1 {
      max-width: 520px;
   }

   .banner__description h5 {
      max-width: 520px;
   }

   .download-btn .banner__btn {
      max-width: 300px;
      height: 60px;
   }

   .form {
      max-width: 480px;
      margin: 0 auto;
   }
}

@media screen and (max-width: 450px) {
   .banner__wrapper {
      display: flex;
      flex-direction: column;
      padding: 140px 16px 50px 16px;
   }

   .banner__title h1 {
      text-align: center;
      margin-right: 0;
      margin-bottom: 42px;
   }

   .divider {
      width: 134px;
      margin: 0 auto;
   }

   .banner__description h5 {
      padding: 42px 0;
      text-align: center;
      max-width: 500px;
   }

   .download-btn .banner__btn {
      max-width: 300px;
      height: 50px;
      display: block;
      margin: 0 auto;
   }

   .banner__content {
      margin-bottom: 56px;
   }

   .form__title {
      padding: 34px 28px 35px 20px;
   }

   .form__title h4 {
      font-size: 14px;
      line-height: 19px;
      max-width: 500px;
   }

   .form .form__wrapper {
      padding: 0 28px 0 18px;
   }

   .form input {
      margin-bottom: 34px;
   }

   .form button {
      margin-top: 21px;
   }
}