.pricing {
   background: #F5F5F5;
}

.pricing__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   text-align: center;
   padding-top: 58px;
}

.pricing__title {
   padding: 46px 0;
}

.pricing__description {
   padding: 47px 0 40px;
}

.pricing__title h2 {
   font-size: 36px;
   font-weight: 400;
   line-height: 42px;
   text-transform: uppercase;
   position: relative;
}

.pricing__title h2::after {
   content: '';
   position: absolute;
   width: 170px;
   height: 1px;
   background-color: var(--accent-color);
   bottom: -54px;
   left: 50%;
   transform: translate(-50%);
}

.pricing__description h5 {
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   color: var(--text-light);
}

.pricing__prices {
   display: flex;
   padding: 18px 0 70px;
   justify-content: space-between;
   text-align: center;
}

.price__wrapper {
   max-width: 370px;
   width: 100%;
   margin-top: 20px;
   border: 1px solid #F5F5F5;
}

.price__wrapper.price__wrapper_active {
   margin-top: 0;
   box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.price-list h4 {
   width: 100%;
   background: #333333;
   border: 1px solid #F5F5F5;
   padding: 13px;
   font-family: var(--Open-Sans);
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: var(--white-color);
}

.price-list h3 {
   background: #333333;
   border: 1px solid #F5F5F5;
   padding: 28px;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   color: var(--white-color);
}

.price-list ul {
   margin-left: -40px;
   margin-top: 0;
   margin-bottom: -20px;
}

.price-list h5 {
   background: #333333;
   padding: 14px 17px 13px;
   font-weight: 400;
   font-size: 18px;
   color: #86878B;
   border: 1px solid #F5F5F5; 
}

.price-list li h5 {
   background: var(--white-color);
   padding: 14px 17px 13px;
   font-weight: 400;
   font-size: 18px;
   color: #86878B;
   text-transform: capitalize;
}

.price-list li h5:not(last-child) {
   border: 1px solid #F5F5F5;
}

@media screen and (max-width: 1024px) {
   .pricing__wrapper {
      padding: 0 16px;
   }

   .pricing__title {
      padding: 39px 0;
   }

   .pricing__title h2 {
      font-size: 24px;
      line-height: 28px;
   }

   .pricing__title h2::after {
      width: 143px;
      bottom: -45px;
   }

   .pricing__description {
      padding: 40px 0 12px;
   }

   .pricing__title h2::after {
      width: 134px;
   }

   .pricing__description h5 {
      font-size: 14px;
      line-height: 16px;
   }

   .price__wrapper {
      max-width: 318px;
   }

   .price-list h4 {
      height: 53px;
      padding: 6.5px;
   }

   .price-list h3 {
      padding: 22.5px;
   }

   .price-list h5 {
      padding: 11px 17px 10px;
   }

   .price-list li h5 {
      padding: 12px 17px 9px;
   }
}

@media screen and (max-width: 700px) {
   .pricing__prices {
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
   }

   .price__wrapper {
      max-width: 375px;
      margin-bottom: 27px;
   }

   .price__wrapper.price__wrapper_active {
      margin-top: 20px;
      box-shadow: none;
   }
}

@media screen and (max-width: 500px) {
   .pricing__header {
      padding-top: 6px;
   }

   .pricing__title {
      padding: 40px 0;
   }

   .pricing__description {
      padding: 31px 0 5px;
   }

   .pricing__prices {
      padding: 5px 0 36px;
   }

   .price__wrapper {
      margin-top: 12px;
      margin-bottom: 10px;
   }

   .price__wrapper:nth-child(3) {
      margin-top: 37px;
   }

   .price__wrapper.price__wrapper_active {
      margin-top: 37px;
   }
   
   .price-list h4 {
      height: 47px;
      padding: 10px;
      font-size: 18px;
      line-height: 25px;
   }

   .price-list h3 {
      font-size: 24px;
      line-height: 28px;
      padding: 24px;
   }

   .price-list h5 {
      font-size: 14px;
      line-height: 16px;
   }

   .price-list li h5 {
      font-size: 14px;
      line-height: 16px;
   }
}